In [1]:
import pandas as pd
import numpy as np
import ast

# 1# Data Insight

<p style="text-align: justify;"> In this part, we will display all the 5 different data bases at disposal before merging them all into one coherent non-repetitive dataframe </p>

In [2]:
DATA_PATHWAY = './data/'

## 1.1# Data Import

In [3]:
plot_summaries = pd.read_csv(DATA_PATHWAY + 'plot_summaries.txt', sep='\t', header=None, names=['movie_id', 'plot_summary'])
plot_summaries.head(10)

   movie_id                                       plot_summary
0  23890098  Shlykov, a hard-working taxi driver and Lyosha...
1  31186339  The nation of Panem consists of a wealthy Capi...
2  20663735  Poovalli Induchoodan  is sentenced for six yea...
3   2231378  The Lemon Drop Kid , a New York City swindler,...
4    595909  Seventh-day Adventist Church pastor Michael Ch...
5   5272176  The president is on his way to give a speech. ...
6   1952976  {{plot}} The film opens in 1974, as a young gi...
7  24225279  The story begins with Hannah, a young Jewish t...
8   2462689  Infuriated at being told to write one final co...
9  20532852  A line of people  drool at the window of the s...

In [4]:
name_clusters = pd.read_csv(DATA_PATHWAY + 'name.clusters.txt', sep='\t', header=None, names=['char_name', 'freebase_char_actor_map_id'])
name_clusters.head(10)

       char_name freebase_char_actor_map_id
0  Stuart Little                  /m/0k3w9c
1  Stuart Little                  /m/0k3wcx
2  Stuart Little                  /m/0k3wbn
3       John Doe                  /m/0jyg35
4       John Doe                  /m/0k2_zn
5     Josh Framm                  /m/0jt3p3
6     Josh Framm                  /m/0jt3t3
7      Caspian X                 /m/0646flc
8      Caspian X                 /m/02vd12n
9  Apostle Peter                 /m/02vd6_v

In [5]:
tvtropes_clusters = pd.read_csv(DATA_PATHWAY + 'tvtropes.clusters.txt', sep='\t', header=None, names=['char_trope', 'attr'])
tvtropes_clusters.head(10)

                 char_trope                                               attr
0   absent_minded_professor  {"char": "Professor Philip Brainard", "movie":...
1   absent_minded_professor  {"char": "Professor Keenbean", "movie": "Richi...
2   absent_minded_professor  {"char": "Dr. Reinhardt Lane", "movie": "The S...
3   absent_minded_professor  {"char": "Dr. Harold Medford", "movie": "Them!...
4   absent_minded_professor  {"char": "Daniel Jackson", "movie": "Stargate"...
5  adventurer_archaeologist  {"char": "Indiana Jones", "movie": "Indiana Jo...
6  adventurer_archaeologist  {"char": "Indiana Jones", "movie": "Indiana Jo...
7  adventurer_archaeologist  {"char": "Indiana Jones", "movie": "Indiana Jo...
8  adventurer_archaeologist  {"char": "Evelyn Carnahan-O'Connell", "movie":...
9       arrogant_kungfu_guy  {"char": "Han", "movie": "Enter the Dragon", "...

In [6]:
# Conversion of the dict feature into several columns
clust = tvtropes_clusters.attr.apply(lambda x: pd.Series(ast.literal_eval(x)))
tvtropes_clusters = pd.concat([tvtropes_clusters, clust], axis=1).drop('attr', axis = 1)

# Renaming of the columns
tvtropes_columns = ['char_trope', 
                    'char_name', 
                    'movie_name', 
                    'freebase_char_actor_map_id', 
                    'actor_name']

tvtropes_clusters.columns = tvtropes_columns
tvtropes_clusters.head(5)

,char_trope,char_name,movie_name,freebase_char_actor_map_id,actor_name
0,absent_minded_professor,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams
1,absent_minded_professor,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane
2,absent_minded_professor,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen
3,absent_minded_professor,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn
4,absent_minded_professor,Daniel Jackson,Stargate,/m/0k3rhh,James Spader

In [7]:
char_meta_columns = ['movie_id',
                     'freebase_movie_id',
                     'release_date',
                     'char_name',
                     'actor_birth_date',
                     'actor_gender',
                     'actor_height', 
                     'freebase_actor_ethnicity',
                     'actor_name',
                     'actor_age_at_movie_release',
                     'freebase_char_actor_map_id',
                     'freebase_char_id',
                     'freebase_actor_id']

char_metadata = pd.read_csv(DATA_PATHWAY + 'character.metadata.tsv', sep='\t', header=None, names=char_meta_columns)
char_metadata.head(5)

,movie_id,freebase_movie_id,release_date,char_name,actor_birth_date,actor_gender,actor_height,freebase_actor_ethnicity,actor_name,actor_age_at_movie_release,freebase_char_actor_map_id,freebase_char_id,freebase_actor_id
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg

In [8]:
movie_meta_columns = ['movie_id',
                    'freebase_movie_id',
                    'movie_name',
                    'release_date',
                    'box_office_revenue',
                    'runtime',
                    'freebase_languages',
                    'freebase_countries',
                    'freebase_genres']

movie_metadata = pd.read_csv(DATA_PATHWAY + 'movie.metadata.tsv', sep='\t', header=None, names=movie_meta_columns)
movie_metadata.head(5)

,movie_id,freebase_movie_id,movie_name,release_date,box_office_revenue,runtime,freebase_languages,freebase_countries,freebase_genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [12]:
# Erase the useless caracters of dict features 
def extract_values(s):
    s = s.split(',')
    for i in range(len(s)):
        s[i] = s[i][s[i].find('": "')+len('": "'):]
        s[i] = s[i][:s[i].find('"')]
    s.sort()
    return ','.join(s)

# Simplify the displaying of languages, countries and genres
movie_metadata.freebase_languages = movie_metadata.freebase_languages.apply(extract_values)
movie_metadata.freebase_countries = movie_metadata.freebase_countries.apply(extract_values)
movie_metadata.freebase_genres = movie_metadata.freebase_genres.apply(extract_values)
movie_metadata

,movie_id,freebase_movie_id,movie_name,release_date,box_office_revenue,runtime,freebase_languages,freebase_countries,freebase_genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,lish Languag,United States of America,"Action,Adventure,Horror,Science Fiction,Space ..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,lish Languag,United States of America,"Biographical film,Crime Drama,Drama,Mystery"
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,wegian Languag,Norway,"Crime Fiction,Drama"
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,lish Languag,United Kingdom,"Erotic thriller,Psychological thriller,Thriller"
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,man Languag,Germany,Drama
...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,lish Languag,United States of America,Drama
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,lish Languag,"Ireland,United Kingdom","Biographical film,Documentary,Drama"
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,lish Languag,United States of America,"Comedy,Satire"
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,anese Languag,Japan,"Adventure,Animation,Anime,Drama,Japanese Movie..."
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,lish Languag,Canada,"Horror,Slasher,Teen,Thriller"

In [16]:
pd.DataFrame(movie_metadata['freebase_genres'].str.split().values.tolist())

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,"Action,Adventure,Horror,Science","Fiction,Space","western,Supernatural,Thriller",None,None,None,None,None,None,None,None,None,None
1,Biographical,"film,Crime","Drama,Drama,Mystery",None,None,None,None,None,None,None,None,None,None
2,Crime,"Fiction,Drama",None,None,None,None,None,None,None,None,None,None,None
3,Erotic,"thriller,Psychological","thriller,Thriller",None,None,None,None,None,None,None,None,None,None
4,Drama,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81736,Drama,None,None,None,None,None,None,None,None,None,None,None,None
81737,Biographical,"film,Documentary,Drama",None,None,None,None,None,None,None,None,None,None,None
81738,"Comedy,Satire",None,None,None,None,None,None,None,None,None,None,None,None
81739,"Adventure,Animation,Anime,Drama,Japanese","Movies,Science","Fiction,Short",Film,None,None,None,None,None,None,None,None,None
81740,"Horror,Slasher,Teen,Thriller",None,None,None,None,None,None,None,None,None,None,None,None

In [15]:
df3.sample(30)

                                                       0
14405                                 Drama,Romance Film
80388                Giallo,Horror,Thriller,World cinema
71222  Animation,Comedy,Drama,Japanese Movies,Mystery...
57686  Biography,Comedy-drama,Drama,Erotica,World cinema
4548                                         Documentary
76357                         Historical fiction,Musical
76434                                             Horror
56700                                              Drama
75585                                              Drama
68666            Black-and-white,Drama,Indie,Silent film
31583                                        Documentary
53097                                             Horror
53557                              Drama,Film adaptation
21294  Comedy,Drama,Indie,Romance Film,Romantic drama...
20151       Black-and-white,Indie,Short Film,Silent film
2499   Biography,Culture & Society,Documentary,Illnes...
19471
36376           Black-and-white,Comedy,Satire,Short Film
34853                                              Drama
67422            Coming of age,Drama,Romantic drama,Teen
81452                                 Drama,Romance Film
16426                                    Japanese Movies
51183                                              Drama
32370                                        Silent film
16684                                        Comedy film
2073                                     Black-and-white
19572                                 Drama,World cinema
34221                                       Action,Drama
9454   Bollywood,Drama,Musical,Musical Drama,World ci...
10299                          Comedy,Drama,World cinema

## 1.2# Data Merging ##

In [ ]:
big_merge = movie_metadata.merge(plot_summaries, how='left')
big_merge

,movie_id,freebase_movie_id,movie_name,release_date,box_office_revenue,runtime,freebase_languages,freebase_countries,freebase_genres,plot_summary
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English Language,United States of America,"Biographical film,Crime Drama,Drama,Mystery",NaN
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,Norwegian Language,Norway,"Crime Fiction,Drama",NaN
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,English Language,United Kingdom,"Erotic thriller,Psychological thriller,Thriller",A series of murders of rich young women throug...
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,German Language,Germany,Drama,"Eva, an upper class housewife, becomes frustra..."
...,...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,English Language,United States of America,Drama,Two former National Oceanic Atmospheric Admini...
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,English Language,"Ireland,United Kingdom","Biographical film,Documentary,Drama",{{No plot}} This film follows 12 years in the ...
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,English Language,United States of America,"Comedy,Satire",NaN
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,Japanese Language,Japan,"Adventure,Animation,Anime,Drama,Japanese Movie...","The story takes place in the year 2092,The Sup..."
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...

In [ ]:
big_merge_2 = big_merge.merge(char_metadata, how='outer')
big_merge_2

,movie_id,freebase_movie_id,movie_name,release_date,box_office_revenue,runtime,freebase_languages,freebase_countries,freebase_genres,plot_summary,char_name,actor_birth_date,actor_gender,actor_height,freebase_actor_ethnicity,actor_name,actor_age_at_movie_release,freebase_char_actor_map_id,freebase_char_id,freebase_actor_id
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th...",Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th...",Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th...",Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th...",Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th...",Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468075,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...,NaN,NaN,NaN,NaN,NaN,Billy Morton,NaN,/m/0gchkcy,NaN,/m/0gc4lfm
468076,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...,NaN,1982-01-28,NaN,NaN,NaN,Andrea Runge,19.0,/m/0gckh4f,NaN,/m/0gbx_rk
468077,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...,NaN,NaN,F,NaN,NaN,Wendy Anderson,NaN,/m/0gcp8fv,NaN,/m/0gby01h
468078,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...,NaN,NaN,NaN,NaN,NaN,Ariel Bastian,NaN,/m/0gdkb51,NaN,/m/0gdkb55
468079,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...,NaN,NaN,NaN,NaN,NaN,Jared Van Snellenberg,NaN,/m/0gdndlw,NaN,/m/0gdmxzn

In [ ]:
big_mess = big_merge_2.merge(tvtropes_clusters, how='left')
big_mess

,movie_id,freebase_movie_id,movie_name,release_date,box_office_revenue,runtime,freebase_languages,freebase_countries,freebase_genres,plot_summary,...,actor_birth_date,actor_gender,actor_height,freebase_actor_ethnicity,actor_name,actor_age_at_movie_release,freebase_char_actor_map_id,freebase_char_id,freebase_actor_id,char_trope
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th...",...,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7,NaN
1,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th...",...,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4,NaN
2,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th...",...,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l,NaN
3,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th...",...,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc,NaN
4,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th...",...,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468129,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...,...,NaN,NaN,NaN,NaN,Billy Morton,NaN,/m/0gchkcy,NaN,/m/0gc4lfm,NaN
468130,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...,...,1982-01-28,NaN,NaN,NaN,Andrea Runge,19.0,/m/0gckh4f,NaN,/m/0gbx_rk,NaN
468131,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...,...,NaN,F,NaN,NaN,Wendy Anderson,NaN,/m/0gcp8fv,NaN,/m/0gby01h,NaN
468132,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...,...,NaN,NaN,NaN,NaN,Ariel Bastian,NaN,/m/0gdkb51,NaN,/m/0gdkb55,NaN
468133,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...,...,NaN,NaN,NaN,NaN,Jared Van Snellenberg,NaN,/m/0gdndlw,NaN,/m/0gdmxzn,NaN

In [ ]:
big_mess_2 = big_mess.merge(name_clusters, how='left')
big_mess_2

,movie_id,freebase_movie_id,movie_name,release_date,box_office_revenue,runtime,freebase_languages,freebase_countries,freebase_genres,plot_summary,...,actor_birth_date,actor_gender,actor_height,freebase_actor_ethnicity,actor_name,actor_age_at_movie_release,freebase_char_actor_map_id,freebase_char_id,freebase_actor_id,char_trope
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th...",...,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7,NaN
1,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th...",...,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4,NaN
2,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th...",...,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l,NaN
3,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th...",...,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc,NaN
4,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Action,Adventure,Horror,Science Fiction,Space ...","Set in the second half of the 22nd century, th...",...,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468134,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...,...,NaN,NaN,NaN,NaN,Billy Morton,NaN,/m/0gchkcy,NaN,/m/0gc4lfm,NaN
468135,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...,...,1982-01-28,NaN,NaN,NaN,Andrea Runge,19.0,/m/0gckh4f,NaN,/m/0gbx_rk,NaN
468136,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...,...,NaN,F,NaN,NaN,Wendy Anderson,NaN,/m/0gcp8fv,NaN,/m/0gby01h,NaN
468137,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...,...,NaN,NaN,NaN,NaN,Ariel Bastian,NaN,/m/0gdkb51,NaN,/m/0gdkb55,NaN
468138,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,English Language,Canada,"Horror,Slasher,Teen,Thriller",The movie is about a teenage girl who loves ho...,...,NaN,NaN,NaN,NaN,Jared Van Snellenberg,NaN,/m/0gdndlw,NaN,/m/0gdmxzn,NaN